/*basic styling */
@import url('https://fonts.googleapis.com/css2?family=Fredoka+One&family=Raleway&display=swap');

:root {
    --off-white: #EDF0FD;
    --mid-blue: #6880EA;
    --dk-blue: #0A1548;
    --grey: #B1BADE;
    --yellow: #FFF05A;
    --max-width: 1500px;
}

html,
body {
    max-width: 100%;
    overflow-x: hidden;
    font-family: 'Raleway', sans-serif;
}

body {
    background-color: var(--off-white);
}

.row {
    margin-right: 0;
    margin-left: 0;
}

/*header */
header, footer {
    background-color: var(--mid-blue);
    padding: 1rem;
    display: flex;
}
header {
    height: 60px;
    font-size: 1.25rem;
}

nav {
    background-color: var(--mid-blue);
}

.navbar-brand {
    font-family: 'Fredoka One', cursive;
    font-size: 1.75rem;
    letter-spacing: 0.25rem;
    color: var(--yellow);
}

.navbar-brand:hover {
    color: var(--yellow);
}

.navbar-toggler {
    background-color: var(--yellow);
    
}

li a {
    color: var(--dk-blue);
    font-weight: bold;
    padding: 1.5rem;
}

li a:hover {
    text-decoration: none;
    color: var(--yellow);
}

.nav-item {
    background-color: var(--mid-blue); 
}
.dropdown-menu { 
    background-color: var(--off-white); 
}


/*jumbotron on index page */
.helpus {
    background: url("../images/HEROIMAGE.jpg") no-repeat center center;
    min-height: 500px;
    background-size: cover;
}

.helpus-text {
    font-size: 5rem;
    background-color: rgba(177, 186, 222, .7);
    color: var(--dk-blue);
    padding: 40px;


}
.helpus-text p {
    font-size: 1.75rem;
}


@media screen and (max-width:416px) {
    .helpus-text {margin-top: 50px;}
}

/* general button styling */
.btn {
    background-color: var(--yellow);
    color: var(--dk-blue);
    font-weight: bold;
}


.btn:hover {
    background-color: var(--mid-blue);
    color: var(--dk-blue);
}

/* our goals section */
.section-title {
    font-family: 'Fredoka One', cursive;
    color: var(--dk-blue);
    letter-spacing: 0.25rem;
    margin-top: 25px;
    margin-left: 10px;
    padding-left: 40px;

}

#left-about {
    min-height: 100%;
    margin-top: 25px;
}

.left-heading {
    text-align: right;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
}

#center-about {
    height:100%;
    background: url("../images/GOALSIMAGE.jpg") no-repeat center center;
}

#right-about {
    min-height: 700px;
    margin-top: 25px;
}

.right-heading {
    text-align: left;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;


}


/*our team section */
.our-team {
    margin-top: 25px;
}

.team-text {
    line-height: 35px;
    font-size: 110%;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px;
    text-align: center;
}


.our-team-image {
    background: url("../images/OURTEAMIMAGE.jpg") no-repeat center center;
    height: 700px;
    opacity: 0.5;
    margin-top: 50px;
    background-size: cover;
}

/* footer */
.smedia-links {
    padding-top: 30px;
}
.smedia-links a{
    color: var(--dk-blue);
    font-size: 175%;
    letter-spacing: 2px;
}

.smedia-links a:hover {
    text-decoration: none;
    color: var(--yellow);
}

.contact {
    float: right;
    text-align: right;
}

/*about page jumbo */

.about-jumbo {
    background: url("../images/ABOUTJUMBOIMAGE.jpg") no-repeat center center;
    background-size: cover;

}


.about-jumbo-text {
    font-size: 5rem;
    background-color: rgba(177, 186, 222, .7);
    color: var(--dk-blue);
    text-align: center;
    padding: 40px;
    margin: 7rem;

}

@media (max-width: 600px) {
    .about-jumbo-text {
      padding:0;
      margin:0;
    }

}
/*About Us section*/
.about-text {
   text-align: left;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px; 
}

/*location section*/
.location-text {
    text-align: left;
    font-size: 110%;
    line-height: 35px;
    margin-bottom: 50px;
    margin-top: 50px;
    margin-left: 40px;
    margin-right: 40px; 
}
}
/*Contact Us*/

#form-section {
    background: url("../images/pexels-josh-hild-2820134 (2).jpg") no-repeat center center;

}

.form {
    background-color: rgba(177, 186, 222, .7);
    color: var(--dk-blue);
    padding: 40px;

}

.freetextinput {
    height: 700px;
}